@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Flex', sans-serif;
}

#root{ 
  background-color: #e9f1f7;
  height: 100vh;
  width: 100vw;
}

.main-container{
  display: flex;
  flex-direction: column;
}

.messageboard-container{
  display: flex;
  flex-direction: column;
  border: 3px solid #0d6efd;
  box-shadow: 0px 0px 25px #0d6efd;
  gap: 1rem;
  margin: 1rem;
  padding: 0.5rem;
}

.input-container{
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.input-container div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 50%;
}

h1 {
  text-align: center;
}

h2{
  text-align: center;
}

button{
  width: 100%;
  border-radius: 5px;
}