* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container{
  display: flex;
  flex-direction: column;
}

.messageboard-container{
  display: flex;
  flex-direction: column;
  border: 1px dotted black;
  gap: 1rem;
  margin: 1rem;
  padding: 0.5rem;
}

.input-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.input-container div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
}

button{
  width: 100%;
  border-radius: 5px;
}